---
---

/* main color is shades of grayish gunmetal blue*/
$primary-very-light: #B6E4FF;	// very light blue */
$primary-light: #76B3DA;	// light blue */
$primary-mid: #3F7DA6;	        // mid blue */
$primary-dark: #164B6C;	        // dark blue */
$primary-very-dark: #021A29;	// almost black blue */

/* secondary color is shades of lavender and purple */
$secondary-mid: #333676;	// dark purple */
$secondary-very-light: #9092C4;	// very light lavender */
$secondary-light: #5A5D9B;	// mid purple */
$secondary-dark: #161951;	// very dark purple */
$secondary-very-dark: #06082D;	// almost black purple */

/* complement color is shades of yellow and ochre */
$complement-mid: #AA8C39;	// gold */
$complement-very-light: #FFEAB0; // peach, almost white yellow */
$complement-light: #DFC272;	// light ochre yellow */
$complement-dark: #755B12;	// raw umber, yellow ochre tan */
$complement-very-dark: #413000;	// cola, yellowish brown */

body {
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    text-decoration: none;
    line-height: 1.5rem;
    background-color: #B2CCB2;
    background-image: url(/assets/images/gaia-vora.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.bg-layer {
    position: fixed;
    background-size: 20rem;
    background-repeat: no-repeat;
}
.upper-left {
    background-image: url(assets/images/sun.png);
}
.upper-right {
    background-image: url(assets/images/comet.png);
    background-position-x: right;
}
.left-cloud, .center-cloud, .right-cloud {
    background-image: url(assets/images/cloud.png);
    background-position-x: center;
}
.left-cloud {
    margin-left: 15%;
    margin-right: 60%;
}
.right-cloud {
    margin-left: 60%;
    margin-right: 15%;
}
.preamble, .main, .footer {
	margin: 1rem;
    text-align: left;
    margin: 0 auto 100vh;
}
.preamble, .main, .footer {
    background-color: #DFD9EC;
    border: 1rem solid #996699;
}
.header {
    height: 16rem;
    background-image: url(/assets/images/gaiavora-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header, .preamble, .main, .footer{
	position: relative;
	clear: both;
	width: 75%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.header h1 {
    color: #fff;
    padding: 2rem;
    font-size: 4rem;
    font-family: 'Metamorphous';
    text-shadow: 0.2rem 0.2rem 0.5rem #00A2A4, -0.2rem 0.2rem 0.5rem #00A2A4;
}
h2 {
    line-height: 2rem;
}
.container {
    width: 40rem;
    margin: 0 auto;
}
img {
    float: right;
    margin: 2rem;
}
h1:before, h2:before, h3:before {
    content: "";
    display: table;
    clear: both;
}