<!DOCTYPE HTML>
<html>
<head>
  <title>Gaia-Vora Boardgame</title>
  <meta name="description" content='A new boardgame by Nemo Rathwald, designer of "Overworld".' />	
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="Gaia-Vora Boardgame" />
  <meta property="og:description" content='A new boardgame by Nemo Rathwald, designer of "Overworld".' />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Metamorphous|Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
</head>
<body class="pages parallax-wrapper">
<div class="left clouds-back layer"></div>
<div class="left clouds-front layer"></div>
<div class="left sparkles layer"></div>
<div class="right clouds-back layer"></div>
<div class="right clouds-front layer"></div>
<div class="right sparkles layer"></div>
<div class="content layer">
<div class="header">
</div>
<div class="preamble">
  <div class="container">
    <h1>Gaia Vora</h1>
    <h2>an unpublished board game by Nemo Rathwald, designer of <a href="https://www.magicmeeplegames.com/overworld.html">"Overworld"</a></h2>
    <h3>1 to 4 players</h3>
    <h3>40 to 60 minutes</h3>
    <h3>Ages 12 and up</h3>

  <button>
    <img src="/assets/images/emailNemoRathwald.png" style="width: 20rem;" id="contact-btn"/>
  </button>

    <p>Fill the desolate planet of Gaia with verdant life. Arrange your carnivores, herbivores, and plants, to eat your opponents, and survive on the highest stacks of land tiles. But beware Vora, the Feastmoon!</p>

    <h3>Gaia Vora theme music, by Kevin MacCleod of Incompetech.com:</h3>
    <audio
      controls 
      type="audio/mpeg"
      preload="metadata"
      src="/assets/audio/Slithy_Toves.mp3"
    >
      Your browser does not support the
      <code>audio</code> element.
    </audio>
    <ul>
      <li><a href="#objective">Objective</a></li>
      <li><a href="#components">Components</a></li>
      <li><a href="#setup">Setup</a></li>
      <li><a href="#summary-of-a-turn">Summary Of A Turn</a></li>
      <li><a href="#the-moon">The Moon</a></li>
      <li><a href="#the-sun-or-the-rainbow">The Sun Or The Rainbow</a></li>
      <li><a href="#the-storm">The Storm</a></li>
      <li><a href="#the-meteor">The Meteor</a></li>
      <li><a href="#scoring">Scoring</a></li>
      <li><a href="#three-player-rules">Three Player Rules</a></li>
      <li><a href="#two-player-rules">Two Player Rules</a></li>
      <li><a href="#one-player-rules">One Player Rules</a></li>
      <li><a href="#qa">Q&A</a></li>
    </ul>
  </div>
</div>
<div class="main">
<div class="container">
{{ content }}
</div>
</div>
<div class="footer">
  <div class="container">
    <p>This page leaves stretch-goal content a surprise for now.</p>
    <p>Boardgame illustrations, instruction booklet, and this website, by Matthew Arnold.</p>
    <p>Additional instruction booklet illustrations by Tiffany Williwaker.</p>
    <p>GaiaVora copyright ©2020 by Nemo T Rathwald, Matthew Arnold.</p>
    <p><a rel="me" href="https://boardgames.social/@nemorathwald">Nemo Rathwald On Mastodon.</a></p>
  </div>
</div>
</div><!-- end content layer -->
</body>
<script src="/assets/js/contact.js"></script>
</html>
